.about {
  padding: 100px 40px;
  background-color: var(--white);
  text-align: left;
}

.heading {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--gray-500);
  margin-bottom: 24px;
  letter-spacing: 1px;
}

.text {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--black);
  margin-bottom: 32px;
}

.description {
  font-size: 16px;
  line-height: 1.8;
  color: var(--gray-600);
}
